In [1]:
from bikeability._get_osm_data import OSM_retriever

In [2]:
retriever = OSM_retriever('bikes', 'Columbus')

In [3]:
retriever.get()

Retrieved 950 entries from area: 182706
	Time: 6.53 seconds
	Attempts: 1

,index,type,id,nodes,geometry,bounds.minlat,bounds.minlon,bounds.maxlat,bounds.maxlon,tags.bicycle,...,tags.name:etymology,tags.lcn,tags.lanes:backward,tags.lanes:forward,tags.turn:lanes:forward,tags.parking:condition:left,tags.parking:lane:left,tags.covered,city,length
0,0,way,21353120,"[229666125, 7725477357, 7725477358, 5123209955...","[{'lat': 40.0037354, 'lon': -83.0087988}, {'la...",40.003735,-83.010935,40.003835,-83.008799,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Columbus,182.733641
1,1,way,21356099,"[229698140, 229698144, 3590383067, 229698148, ...","[{'lat': 39.968688, 'lon': -82.968381}, {'lat'...",39.968688,-82.968381,39.973065,-82.968110,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Columbus,486.550633
2,2,way,21361982,"[5205147872, 6139572733, 3948060915, 613957272...","[{'lat': 40.0000507, 'lon': -83.0081926}, {'la...",40.000051,-83.009339,40.000115,-83.008193,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Columbus,98.134344
3,3,way,21363842,"[229794006, 6802783831, 229794013, 229766132, ...","[{'lat': 39.9627313, 'lon': -82.996247}, {'lat...",39.962731,-82.996768,39.965443,-82.996247,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Columbus,304.373186
4,4,way,21364370,"[1967298150, 3948057805, 4979694529, 635742850]","[{'lat': 39.9973224, 'lon': -83.0166011}, {'la...",39.997322,-83.016601,39.997495,-83.015083,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Columbus,131.083450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,945,way,868204387,"[8092837245, 229921868]","[{'lat': 40.0665691, 'lon': -82.9375076}, {'la...",40.066320,-82.937529,40.066569,-82.937508,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Columbus,27.719232
946,946,way,870904104,"[506864504, 5362511936, 5362511935, 506864505,...","[{'lat': 40.0344076, 'lon': -83.025762}, {'lat...",40.034408,-83.029533,40.041164,-83.025762,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Columbus,904.869885
947,947,way,870904105,"[8112634869, 8112634868]","[{'lat': 40.0411637, 'lon': -83.0295335}, {'la...",40.041164,-83.029713,40.041225,-83.029533,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Columbus,16.761832
948,948,way,871033274,"[8113631869, 8113631877, 6019253810, 811363187...","[{'lat': 39.9260686, 'lon': -82.8068497}, {'la...",39.925873,-82.806850,39.926069,-82.805026,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Columbus,159.809879
949,949,way,900558399,"[8365754581, 8365754583, 8365754582]","[{'lat': 40.0232432, 'lon': -82.9779992}, {'la...",40.023243,-82.977999,40.023251,-82.977910,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Columbus,7.633306

In [9]:
retriever = OSM_retriever('bikes', 'Pittsburgh')

Queries for Pittsburgh not yet supported

In [7]:
retriever = OSM_retriever('bikes', ['Columbus'])

In [8]:
retriever = OSM_retriever('bikes', ['Columbus', 'New York'])